[workflows]
runButton = "Auto Push"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./bin/auto-push.sh"
waitForPort = 80

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Serving HTML, open the Preview to see your output."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "To see changes you make, you can hit the refresh button in the preview, you do not have to stop and run again."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "Console logs are available in the Preview devtools or your browser devtools.\" && static-web-server -w ./.config/static-web-server.toml > /dev/null 2>&1"

[[workflows.workflow]]
name = "Project Preview"
author = 43016543
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"🚀 Starting Toolvana preview server...\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server -w ./.config/static-web-server.toml"

[[workflows.workflow]]
name = "Auto Push"
author = 43016543
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash bin/auto-push.sh"

[nix]
packages = ["openssh"]
